@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
/* menu dropdown */
header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px black;
    padding: 0px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo {
    font-weight: bolder;
    font-size: 23px;
    color: #333;
    height: 60px;
    width: auto;
}
header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}
header .navbar ul a {
    color: #333;
    font-size: 20px;
    padding: 20px;
    display: block;
}
header .navbar ul a:hover {
    background: #1e5a90;
    color: #fff;
}
header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}
header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}
header .navbar ul li:hover > ul {
    display: initial;
}
#menu-bar {
    display: none;
}
header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}
/*fim do menu dropdown*/
/* Inicio do main*/
main .banner {
    position: relative;
    margin-top: 30px;
    background: url(../img/banner_principal001.png);
    background-size: cover;
    width: 100%;
    height: 60vh;
}
.efeciencia {
    position: absolute;
    top: 90px;
    left: 80px;
    background: url(../img/eficiencia_e_qualidade.png) no-repeat;
    background-size: 600px;
    width: 700px;
    height: 200px;

}
/* Inicio do feature*/
.contet-card-01 {
    width: 1060px;
    margin: auto;
}
.contet-card-01 h1 {
    text-align: center;
    margin-top: 20px;
}
.contet-card-01 p {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.contente-card {
    display: flex;
    width: 1060px;
    margin: auto;
}
.card-item {
    width: 265px;
    height: 249px;
}
.card-item .img-feature {
    width: 100px;
    display: block;
    margin: auto;
}
.azul-01 {
    margin-top: 10px;
    background-color: #4abcd6;
    width: 265px;
    height: 20px;
    border-radius: 5px 0 0 5px;
}
.azul-02 {
    margin-top: 10px;
    background-color: #379dbb;
    width: 265px;
    height: 20px;
}
.azul-03 {
    margin-top: 10px;
    background-color: #015277;
    width: 265px;
    height: 20px;
}
.azul-04 {
    margin-top: 10px;
    background-color: #012F4E;
    width: 265px;
    height: 20px;
    border-radius: 0 5px 5px 0;
}
.text-card {
    margin-top: 10px;
}
.text-card p {
    padding: 0 30px 0 30px;
    font-size: 14px;
    text-align: justify;
}
/* fim do feature */
/* fim do main */

/* Inicio Parceirias */
.parcerias {
    height: 300px;
}
.parcerias h1 {
    margin: 20px 0 20px 0;
    text-align: center;
}
.conteiner-parcerias {
    margin: 0 auto;
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(../img/singapore-243669_1920.png) no-repeat top;
    background-size: cover;
    height: 250px;
}
.img-parcerias {
    margin: 0 auto;
    width: 1060px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-parcerias .logo-01 {
    width: 200px;
}
.img-parcerias .logo-02 {
    margin: 60px;
    width: 200px;
}
.img-parcerias .logo-03 {
    margin: 30px;
    width: 200px;
}
.img-parcerias .logo-04 {
    width: 200px;
}
/* Fim Parceirias */

/* Inicio do footer*/
footer {
    background-color: #1e5a90;
    padding: 50px 0;
}
.conteiner-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer {
    display: flex;
    flex-wrap: wrap;
}
.footer-col {
    width: 25%;
    padding: 0 20px 0 20px;
}
.footer-col h4 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col p {
    color: #fff;
    
}
.footer-col ul {
    list-style: none;
}
.footer-col ul li {
    margin: 10px 0;
}
.footer-col ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 200;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    padding-left: 10px;
}
.footer-col .social-medeia {
    margin-top: 30px;
}
.footer-col .social-medeia a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.5s ease;
    
}
.footer-col .social-medeia a:hover {
    background-color: #fff;
    color: #1e5a90;
}
.footer-col-logo {
    width: 25%;
}
.footer-col-logo img {
    margin: 0;
    width: 250px;
    margin-bottom: 25px;
}
.footer-col-logo p {
    color: #fff;
    line-height: 28px;
    
}
.direito-autorais  {
    padding: 15px;
    background-color: #14436c;
    color: #fff;
    text-align: center;
}
.whatsapp {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 150px;
}
/* fim do footer */

/*A Marcar*/
/* Hitória da Marcar */
.historia-a-marcar {
    padding-top: 100px;
    margin: auto;
    width: 1060px;
    height: 600px;
}
.texto-historia-marcar {
    width: 70%;
}
.texto-historia-marcar h1 {
    margin-bottom: 20px;
}
.texto-historia-marcar p {
    text-align: justify;
    line-height: 25px;
}
.conteiner-cards {
    display: flex;
    margin: auto;
    width: 1060px;
    height: 200px;
}
.card-missao {
    display: flex;
    border: 1px dotted red;
    background-color: lightslategray;
    width: 530px;
    height: 200px;
}
.card-missao img {
    align-items: center;
    width: 150px;
}
.card-missao-texto-h1 {
    text-align: center;
}
.card-missao-texto-conteiner {
    text-align: justify;
    padding: 10px;
}
.card-visao {
    display: flex;
    border: 1px dotted red;px;
    background-color: lightslategray;
    width: 530px;
    height: 200px;
}