@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
/* menu dropdown=================================================*/
header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    padding: 0px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo {
    font-weight: bolder;
    color: #333;
    height: 60px;
    width: auto;
}
header .navbar ul {
    list-style: none;
}
header .navbar ul li {
    position: relative;
    float: left;
}
header .navbar ul a {
    color: #333;
    font-size: 16px;
    padding: 20px;
    display: block;
}
header .navbar ul a:hover {
    background: #1e5a90;
    color: #fff;
}
header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}
header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}
header .navbar ul li:hover > ul {
    display: initial;
}
#menu-bar {
    display: none;
}
header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}
.navbar__servicos {
    cursor: pointer;
}
/*fim do menu dropdown===========================================*/
/* Inicio do main================================================*/
/* Inicio do banner==============================================*/
main .banner {
    position: relative;
    background: url(../img/banner_principal001.png);
    background-size: cover;
    width: 100%;
    height: 60vh;
}
.efeciencia {
    position: absolute;
    top: 90px;
    left: 80px;
    background: url(../img/eficiencia_e_qualidade_cinza.png) no-repeat;
    background-size: 600px;
    width: 700px;
    height: 200px;
}
/* fim do banner=================================================*/
/* Inicio do feature=============================================*/
.feature {
    height: 480px;
}
.contet-card-01 {
    width: 1060px;
    margin: auto;
}
.contet-card-01 h1 {
    text-align: center;
    margin-top: 20px;
}
.contet-card-01 p {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.contente-card {
    display: flex;
    width: 1060px;
    margin: auto;
}
.card-item {
    width: 265px;
    height: 249px;
}
.card-item .img-feature {
    width: 100px;
    display: block;
    margin: auto;
}
.azul-01 {
    margin-top: 10px;
    background-color: #4abcd6;
    width: 265px;
    height: 20px;
    border-radius: 5px 0 0 5px;
}
.azul-02 {
    margin-top: 10px;
    background-color: #379dbb;
    width: 265px;
    height: 20px;
}
.azul-03 {
    margin-top: 10px;
    background-color: #015277;
    width: 265px;
    height: 20px;
}
.azul-04 {
    margin-top: 10px;
    background-color: #012F4E;
    width: 265px;
    height: 20px;
    border-radius: 0 5px 5px 0;
}
.text-card {
    margin-top: 10px;
}
.text-card p {
    padding: 0 30px 0 30px;
    font-size: 14px;
    text-align: justify;
}
/* fim do feature================================================*/
/* fim do main===================================================*/
/* Inicio Parceirias=============================================*/
.conteiner-parcerias {
    margin: 0 auto;
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(../img/singapore-243669_1920.png) no-repeat top;
    background-size: cover;
    height: 250px;
}
.conteiner-parcerias h1 {
    margin: auto;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    width: 1060px;
}
.img-parcerias {
    margin: auto;
    width: 1060px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-parcerias .logo-01 {
    width: 200px;
}
.img-parcerias .logo-02 {
    margin-left: 40px;
    width: 200px;
}
.img-parcerias .logo-03 {
    margin-left: 40px;
    width: 200px;
}
.img-parcerias .logo-04 {
    margin-left: 40px;
    width: 200px;
}
/* Fim Parceirias================================================*/
/* Inicio open-business==========================================*/
.open-business {
    background-color: #041b2a;
    height: 250px;
    position: relative;
}
.open-business-01 {
    margin: auto;
    width: 1060px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.open-business-01 h1 {
    color: #fff;
    font-size: 50px;
}
.btn-open-business-01 {
    position: absolute;
    top: 180px; left: 46%;
}
.btn-open-business-01 button {
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn-open-business-01 button:hover {
    background-color: #1e5a90;
    color: #fff;
}
/* fim open-business=========================================*/
/* Inicio do footer==========================================*/
footer {
    background-color: #1e5a90;
    padding: 50px 0;
}
.conteiner-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer {
    display: flex;
    flex-wrap: wrap;
}
.footer-col {
        width: 25%;
    padding: 0 20px 0 20px;
}
.footer-col h4 {
    padding-left: 60px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col p {
    color: #fff;
    
}
.footer-col ul {
    list-style: none;
}
.footer-col ul li {
    margin: 10px 0;
}
.footer-col ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 200;
    display: block;
    transition: all 0.6s ease;
    padding-left: 60px;
}
.footer-col ul li a:hover {
    color: #041b2a;
}
.footer-col .social-medeia {
    padding-left: 60px;
    margin-top: 30px;
}
.footer-col .social-medeia a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.5s ease;
    
}
.footer-col .social-medeia a:hover {
    background-color: #fff;
    color: #1e5a90;
}
.footer-col-logo {
    width: 25%;
}
.footer-col-logo img {
    margin: 0;
    width: 250px;
    margin-bottom: 25px;
}
.footer-col-logo p {
    color: #fff;
    line-height: 28px;
    
}
.direito-autorais  {
    padding: 15px;
    background-color: #14436c;
    color: #fff;
    text-align: center;
}
.whatsapp {
    position: fixed;
    bottom: 50px;
    right: 10px;
    width: 145px;
}
/* fim do footer */

/*Página - A Marcar*/
/* Hitória da Marcar========================================= */
.historia-a-marcar {
    margin: auto;
    width: 1060px;
    height: 500px;
    display: flex;
    align-items: center; 
}
.texto-historia-marcar {
    width: 80%;
    padding-left: 40px;
    text-align: justify; 
      
}
.texto-historia-marcar h1 {
    margin-bottom: 20px;
    padding: 15px;
}
.texto-historia-marcar p {
    padding: 15px;
    text-align: justify;
    line-height: 25px;
}

/* Missão da Marcar ===========================================*/
.historia-a-marcar-missao-marcar {
    margin: auto;
    width: 1060px;
    height: 450px;
    display: flex;
    align-items: center;
}
.texto-historia-a-marcar-missao-marcar {
    width: 80%;
    padding-left: 40px;
    text-align: justify;
}
.texto-historia-a-marcar-missao-marcar h2{
    margin-bottom: 20px;
    padding: 15px;
}
.texto-historia-a-marcar-missao-marcar p {
    padding: 15px;
    text-align: justify;
    line-height: 25px;
}
/* Visão da Marcar ===========================================*/
.historia-a-marcar-visao-marcar {
    margin: auto;
    width: 1060px;
    height: 450px;
    display: flex;
    align-items: center;
}
.texto-historia-a-marcar-visao-marcar {
    width: 80%;
    padding-left: 40px;
    text-align: justify;
}
/* valores da Marcar =========================================*/
.historia-a-marcar-valores-marcar {
    margin: auto;
    width: 1060px;
    height: 500px;
    display: flex;
    align-items: center;
}
.texto-historia-a-marcar-valores-marcar {
    width: 70%;
    padding-left: 40px;
    text-align: justify;
}
.texto-historia-a-marcar-valores-marcar ul {
    list-style: none;
}

/*A Marcar - Cards */
.conteiner-cards {
    display: flex;
    margin: auto;
    width: 1060px;
    height: 250px;
    align-items: center;
}
.card-proposito {
    margin: 10px;
    display: flex;
    align-items: center;
    width: 530px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card-proposito-img img {
    width: 150px;
}
.card-proposito-texto-h1 {
    text-align: center;
}
.card-proposito-texto-conteiner {
    text-align: justify;
    padding: 20px;
}
/*Escritório Virtual*/
.escritorio-virtual {
    padding-top: 100px;
    margin: auto;
    width: 1060px;
    height: 700px;
    display: flex;
    align-items: center;
}
.texto-escritorio-virtual {
    width: 70%;
}
.texto-escritorio-virtual h1 {
    margin-bottom: 20px;
    padding: 15px;
}
.texto-escritorio-virtual p {
    padding: 15px;
    text-align: justify;
    line-height: 25px;
}
.img-escritorio-virtual {
    width: 30%;
}
.img-escritorio-virtual img {
    padding: 15px;
    width: 310px;
}
/*Legalização*/
.legalizacao {
    padding-top: 100px;
    margin: auto;
    width: 1060px;
    height: 700px;
    display: flex;
    align-items: center;
}
.texto-legalizacao {
    width: 70%;
}
.texto-legalizacao h1 {
    margin-bottom: 20px;
    padding: 15px;
}
.texto-legalizacao p {
    padding: 15px;
    text-align: justify;
    line-height: 25px;
}
.img-legalizacao {
    width: 30%;
}
.img-legalizacao img {
    padding: 15px;
    width: 310px;
}
/*Departamento Pessoal*/
.departamento-pessoal {
    padding-top: 100px;
    margin: auto;
    width: 1060px;
    height: 700px;
    display: flex;
    align-items: center;
}
.texto-departamento-pessoal h1 {
    margin-bottom: 20px;
    padding: 15px;
}
.texto-departamento-pessoal p {
    padding: 15px;
    text-align: justify;
    line-height: 25px;
}
.img-departamento-pessoal {
    width: 30%;
}
.img-departamento-pessoal img {
    width: 310px;
    padding: 15px;
    
 
}
/*Departamento Contábil*/
.departamento-contabil {
    padding-top: 100px;
    margin: auto;
    width: 1060px;
    height: 700px;
    display: flex;
    align-items: center;
}
.texto-departamento-contabil {
    width: 70%;
}
.texto-departamento-contabil h1 {
    margin-bottom: 20px;
    padding: 15px;
}
.texto-departamento-contabil p {
    padding: 15px;
    text-align: justify;
    line-height: 25px;
}
.img-departamento-contabil {
    width: 30%;
}
.img-departamento-contabil img {
    width: 310px;
    padding: 15px;

}
/*Departamento Fiscal*/
.departamento-fiscal {
    padding-top: 100px;
    margin: auto;
    width: 1060px;
    height: 700px;
    display: flex;
    align-items: center;
}
.texto-departamento-fiscal {
    width: 70%;
}
.texto-departamento-fiscal h1 {
    margin-bottom: 20px;
    padding: 15px;
}
.texto-departamento-fiscal p {
    padding: 15px;
    text-align: justify;
    line-height: 25px;
}
.img-departamento-fiscal {
    width: 30%;
}
.img-departamento-fiscal img {
    padding: 15px;
    width: 310px;
}
/*Nossos Clientes*/
.nossos-clientes {
    padding-top: 100px;
    margin: auto;
    width: 1060px;
    height: 1200px;
    align-items: center;
}
.nossos-clientes h1 {
    text-align: center;
    margin-bottom: 20px;
}
.img-nossos-clientes {
    
    display: flex;
    flex-wrap: wrap;
    width: 1060px;
}
.img-nossos-clientes img {
    margin: auto;
    width: 250px;
    padding: 20px;
    filter: grayscale(100%);
    transition: 0.2s ease;
    cursor: pointer;
}
.img-nossos-clientes img:hover {
    filter: grayscale(0%);
}

/*Planos*/
.planos {
    padding-top: 100px;
    margin: auto;
    width: 1060px;
    align-items: center;

}
.planos h1 {
    padding: 20px;
}
.img-planos img {
    display: block;
    margin: auto;
    width: 1000px;
}